---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Plastikforurening from "../components/Plastikforurening.astro";
import Datavisualisering from "../components/Datavisualisering.astro";
import Nyhedsbrev from "../components/nyhedsbrev.astro";
import ProblemPlastik from "../components/ProblemPlastik.astro";
import Doner from "../components/donér.astro";
import Gode from "../components/goderåd.astro";
import statement from "../components/statement.astro";
import Statement from "../components/statement.astro";
import Procent from "../components/Procent.astro";
import TopTi from "../components/TopTi.astro";
---

<MainLayout title="Singleusesucks">
  <!-- Hero -->
  <section 
    style="background-image: url(/ocean1.webp)"
    class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0"
  >
    <div class="flex flex-col items-center justify-center mx-auto">
      <h1 class="text-center pb-3">Det er sejt at bruge plastik flere gange</h1>
      <h2 class="font-serif">#SingleUseSucks</h2>
      <Link variant="primary" size="large" href="#Støt">Støt</Link>
    </div>
  </section>

  <!-- Hvad er plastikforurening -->
  <section
    id="hvad-er-plastikforurening"
    style="background-color: #F7F7F7"
    class="flex items-center h-screen w-100 bg-cover bg-center sticky"
  >
    <Plastikforurening />
  </section>

  <!-- Procent infografik med plastikforurening -->
  <section
    id=""
    style="background-image: url(/ocean3.webp)"
    class="flex items-center h-screen  w-100 bg-cover bg-center sticky top-0"
  >
    <div class="bg-[#014E82]/60 rounded-lg  p-10 mx-auto">
      <h2 class="text-center pb-10">
        Hvor meget skrald i havet der er plastik
      </h2>
      <div class="grid grid-cols-2 md:grid-cols-3 md:gap-6 gap-2">
        <div class="flex flex-col items-center">
          <img loading="lazy" src="/flaske.svg" alt="flaske" class="w-32 h-32 mb-2" />
          <p>Plastikflasker</p>
        </div>
        <div class="flex flex-col items-center">
          <img loading="lazy"
            src="/Beholder.svg"
            alt="flaske"
            class="w-32 h-32 mb-2"
          />
          <p>Plastikbeholder</p>
        </div>
        <div class="flex flex-col items-center">
          <img  loading="lazy" src="/Pose.svg" alt="flaske" class="w-32 h-32 mb-2" />
          <p>Plastikposer</p>
        </div>
      

      <!--  -->
        <div class="flex flex-col items-center">
          <img loading="lazy"
            src="/Sugerør.svg"
            alt="sugerør"
            class="w-32 h-32 mb-2"
          />
          <p>Plastiksugerør</p>
        </div>
        <!--  -->
        <div class="flex flex-col items-center">
          <h2 class="text-center">80%</h2>
          <h3 class="text-center">Plastik kommer fra landbaserede kilder</h3>
        </div>
        <!--  -->
        <div class="flex flex-col items-center">
          <img loading="lazy"
            src="/Chipspose.svg"
            alt="chipspose"
            class="w-32 h-32 mb-2"
          />
          <p>Plastikemballage</p>
        </div>
    
    </div>
  </section>

  <!-- Problemet med plastikforurening -->
  <section
    id="problem"
    style="background-color: #F7F7F7"
    class="flex items-center md:h-[100vh] h-[110vh] w-100 bg-cover bg-center sticky"
  >
    <ProblemPlastik />
  </section>

  <!-- datavisual + info -->
  <section
    style="background-image: url(/ocean2.webp)"
    class="grid items-center md:h-[200vh]  w-100 bg-cover bg-center sticky"
  >
    <!-- Datavisualisering  -->

    <Datavisualisering />    

<!--   <TopTi />  -->


  <section class="flex flex-col items-center justify-center min-h-screen relative">
    <div class="bg-[#000D36]/50 md:p-20 p-10 rounded-lg pt-4 mt-1 md:-mt-52">
      <div>
        <h2>Top 10</h2>
        <h2>indsamlede genstande i havet</h2>
      </div>
  
      <div
        id="stagger2"
        class="staggeranimation2 grid md:grid-cols-5 grid-cols-2 gap-8 mt-10 place-items-center "
      >
        <div class="animation flex flex-col items-center">
          <img
          loading="lazy"
            class="h-auto max-w-12 pb-6"
            src="/Cigaretter.svg"
            alt="Cigaretter"
          />
          <h5 class="">1. Cigaretskodder</h5>
          <p class="text-3xl">2,412,151</p>
        </div>
  
        <div class="animation flex flex-col items-center mt-10">
          <img loading="lazy" class="h-auto max-w-20 pb-6" src="/Slik.svg" alt="Slik" />
          <h3 class="text-lg">2. Madindpakning</h3>
          <p class="text-3xl">1,739,743</p>
        </div>
  
        <div class="animation flex flex-col items-center mt-6">
          <img loading="lazy" class="h-auto max-w-20 pb-6" src="/flaske.svg" alt="flaske" />
          <h5 class="">3. Plastikflasker</h5>
          <p class="text-3xl">1,569,135</p>
        </div>
  
        <div class="animation flex flex-col items-center mt-10">
          <img loading="lazy"
            class="h-auto max-w-16 pb-6"
            src="/Plastikpropper.svg"
            alt="propper"
          />
          <h5 class="">4. Plastikpropper</h5>
          <p class="text-3xl">1,091,107</p>
        </div>
  
        <div class="animation flex flex-col items-center">
          <img loading="lazy" class="h-auto max-w-16 pb-6" src="/Pose.svg" alt="Pose" />
          <h5 class="">5. Plastik indkøbsposer</h5>
          <p class="text-3xl">757,523</p>
        </div>
  
        <div class="animation flex flex-col items-center mt-10">
          <img loading="lazy"
            class="h-auto max-w-16 pb-6"
            src="/Chipspose.svg"
            alt="Plastikpose"
          />
          <h5 class="">6. Andre plastikposer</h5>
          <p class="text-3xl">746,211</p>
        </div>
  
        <div class="animation flex flex-col items-center -top-4">
          <img loading="lazy" class="h-auto max-w-16 pb-6" src="/Sugerør.svg" alt="Sugerør" />
          <h5 class="">7. Sugerør</h5>
          <p class="text-3xl">643,562</p>
        </div>
  
        <div class="animation flex flex-col items-center mt-16">
          <img loading="lazy"
            class="h-auto max-w-16 pb-6"
            src="/BeholdeTA.svg"
            alt="TABeholder"
          />
          <h5 class="">8. Plastik take away beholder</h5>
          <p class="text-3xl">632,874</p>
        </div>
  
        <div class="animation flex flex-col items-center mt-16">
          <img loading="lazy" class="h-auto max-w-16 pb-6" src="/Lids.svg" alt="Låg" />
          <h5 class="">9. Plastiklåg</h5>
          <p class="text-3xl">624,878</p>
        </div>
  
        <div class="animation flex flex-col items-center mt-10">
          <img loading="lazy" class="h-auto max-w-16 pb-6" src="/TakeAway.svg" alt="TakeAway" />
          <h5 class="">10. Skum take away beholdere</h5>
          <p class="text-3xl">580,570</p>
        </div>
      </div>
    </div>
  </section>
  
  
  
  <script >
    import { inView, animate, stagger } from "@motionone/dom";
    
      inView("#stagger2 .animation", () => {
        animate(
          ".staggeranimation2 .animation",
          { opacity: [0, 1] },
          {
            delay: stagger(0.3, { start: 0.1 }),
          }
        );
      });
  </script>
  

  

    <!-- Top ti infografik  -->
  </section>

  <!-- infografik, goderåd -->
  <div class="overflow-clip" id="hvadkandugøre">
    <section
      id="horisontalscrollsection1"
      style="background-color: #6D9DA8"
      class="h-[200vh] w-100 bg-cover bg-center sticky top-0"
    >
      <div class="sticky top-28 p-10">
        <h2>Hvad kan du selv gøre</h2>
        <h3>4 gode råd du kan implementere i din hverdag</h3>
      </div>
      <div id="horisontalliste1" class="flex sticky top-[40vh] space-x-10 p-2">
        <div
          class="flex-none w-[650px] flex flex-row gap-4 items-center space-x-4 p-10 rounded-lg"
          style="background-color:#4b7f8b"
        >
          <div>
            <h3>Dit indkøb</h3>
            <h4>Tag en mulepose med, og sig nej tak til plastik poser</h4>
          </div>
          <img loading="lazy"
            src="/Pose.svg"
            alt="Plastikpose"
            class="w-32 h-32 mb-2"
          />
        </div>
        <!--  -->
        <div
          class="flex-none w-[650px] flex flex-row gap-4 items-center space-y-4 p-10 rounded-lg"
          style="background-color:#4b7f8b"
        >
          <div>
            <h3>Din vandflaske</h3>
            <h4>Brug drikkedunk og undgå købevand</h4>
          </div>
          <img loading="lazy" src="/flaske.svg" alt="flaske" class="w-32 h-32 mb-2" />
        </div>
        <!--  -->
        <div
          class="flex-none w-[650px] flex flex-row gap-4 items-center space-y-4 p-10 rounded-lg"
          style="background-color:#4b7f8b"
        >
          <div>
            <h3>Din tøjvask</h3>
            <h4>Fyld din vaskemaskine, når du skal vaske tøj</h4>
          </div>
          <img loading="lazy"
            src="/Beholder.svg"
            alt="Plastbeholder"
            class="w-32 h-32 mb-2"
          />
        </div>
        <!-- -->
        <div
          class="flex-none w-[650px] flex flex-row gap-4 items-center space-y-4 p-10 rounded-lg"
          style="background-color:#4b7f8b"
        >
          <div>
            <h3>Din fest</h3>
            <h4>Drop engangsservice, balloner og sugerør</h4>
          </div>
          <img loading="lazy"
            src="/Sugerør.svg"
            alt="sugerør"
            class="w-32 h-32 mb-2"
          />
        </div>
      </div>
    </section>
  </div>

  <!-- statement  -->
  <section
    style="background-color: #F7F7F7"
    class="h-[100vh] w-100 bg-cover bg-center sticky"
  >
    <Statement />
  </section>

  <!-- Donér  -->
  <section
    id="Støt"
    style="background-image: url(/ocean1.webp)"
    class="flex items-center h-screen w-100 bg-cover bg-center sticky mx-auto"
  >
    <Doner />
  </section>

  <!-- TIlmeld  -->
  <section
    id="nyhedsbrev"
    style="background-color: #F7F7F7"
    class="h-[100vh] w-100 bg-cover bg-center sticky top-0"
  >
    <Nyhedsbrev />
  </section>
</MainLayout>

<script>
  import { scroll, animate, inView } from "@motionone/dom";

  scroll(
    animate("#horisontalliste1", {
      transform: ["none", "translateX(-80vw)"],
    }),
    { target: document.querySelector("#horisontalscrollsection1") }
  );
</script>
