---

---

<div class="overflow-clip h-[550px] p-12 sticky">
  <section id="horisontalscrollsection" class="h-[500px]">
    <div class="sticky top-0 p-9">
      <h2>Hvad kan du selv gøre</h2>
      <h3>4 gode råd du kan implementere i din hverdag</h3>
    </div>
    <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh]">
      <li class="råd p-9 flex-none w-[850px] flex flex-row gap-4 items-center">
        <div>
          <h3>Dit indkøb</h3>
          <h4>Tag en mulepose med, og sig nej tak til plastik poser</h4>
        </div>
        <img loading="lazy" src="/Pose.svg" alt="Plastikpose" class="w-32 h-32 mb-2" />
      </li>
      <li class="råd p-9 flex-none w-[850px] flex flex-row gap-4 items-center">
        <div>
          <h3>Din vandflaske</h3>
          <h4>Brug drikkedunk og undgå købevand</h4>
        </div>
        <img loading="lazy" src="/flaske.svg" alt="flaske" class="w-32 h-32 mb-2" />
      </li>
      <li class="råd p-9 flex-none w-[850px] flex flex-row gap-4 items-center">
        <div>
          <h3>Din tøjvask</h3>
          <h4>Fyld din vaskemaskine, når du skal vaske tøj</h4>
        </div>
        <img  loading="lazy" src="/Beholder.svg" alt="Plastbeholder" class="w-32 h-32 mb-2" />
      </li>
      <li class="råd p-9 flex-none w-[850px] flex flex-row gap-4 items-center">
        <div>
          <h3>Din fest</h3>
          <h4>Drop engangsservice, balloner og sugerør</h4>
        </div>
        <img loading="lazy" src="/Sugerør.svg" alt="sugerør" class="w-32 h-32 mb-2" />
      </li>
    </ul>
  </section>
</div>

<script>
  import { scroll, animate, inView } from "@motionone/dom";

  scroll(
    animate("#horisontalliste", {
      transform: ["translateX(-2450px)", "none"],
    }),
    { target: document.querySelector("#horisontalscrollsection") }
  );
</script>
