---
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";

import { Image } from "astro:assets";
import fisk1 from "../assets/images/fisk1.webp";
import fisk2 from "../assets/images/fisk2.webp";
import grønflaske from "../assets/images/grønflaske.webp";
import plastikpose from "../assets/images/plastikpose.webp";
import skildpade from "../assets/images/skildpade.webp";
---

<section class="grid justify-center">
  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-center space-y-4"
  >
    <h2 class="text-10xl font-semibold">
      Vores verden kan ikke holde til mere unødvendig plastik.
    </h2>

    <div class="text-center pt-12">
      <h4 class="text-3xl mb-4">
        Hold dig opdateret på udviklingen via vores nyhedsbrev
      </h4>

      <div class="grid justify-center mt-6">
        <form class="flex gap-2 items-center" action="">
          <input
            class="rounded-lg border-none px-2 py-2"
            type="email"
            placeholder="SingleUse@jatak.com"
            id="fname"
            name="fname"
          /><br />
          <!-- Submit Button -->
          <div class="w-full px-2 py-2">
            <Button type="submit" variant="primary" size="medium">
              Indsend</Button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
