---

---

<section class="flex flex-col items-center justify-center min-h-screen">
  <div class="bg-[#000D36]/50 p-20 rounded-lg">
    <div>
      <h2>Top 10</h2>
      <h2>indsamlede genstande i havet</h2>
    </div>

    <div
      id="stagger2"
      class="grid grid-cols-5 grid-rows-2 gap-8 mt-10 place-items-center staggeranimation2"
    >
      <div class="flex flex-col items-center">
        <img
          class="h-auto max-w-12 pb-6"
          src="/Cigaretter.svg"
          alt="Cigaretter"
        />
        <h5 class="">1. Cigaretskodder</h5>
        <p class="text-3xl">2,412,151</p>
      </div>

      <div class="flex flex-col items-center mt-10">
        <img class="h-auto max-w-20 pb-6" src="../public/Slik.svg" alt="Slik" />
        <h3 class="text-lg">2. Madindpakning</h3>
        <p class="text-3xl">1,739,743</p>
      </div>

      <div class="flex flex-col items-center mt-6">
        <img class="h-auto max-w-20 pb-6" src="/flaske.svg" alt="flaske" />
        <h5 class="">3. Plastikflasker</h5>
        <p class="text-3xl">1,569,135</p>
      </div>

      <div class="flex flex-col items-center mt-10">
        <img
          class="h-auto max-w-16 pb-6"
          src="/Plastikpropper.svg"
          alt="propper"
        />
        <h5 class="">4. Plastikpropper</h5>
        <p class="text-3xl">1,091,107</p>
      </div>

      <div class="flex flex-col items-center">
        <img class="h-auto max-w-16 pb-6" src="/Pose.svg" alt="Pose" />
        <h5 class="">5. Plastik indkøbsposer</h5>
        <p class="text-3xl">757,523</p>
      </div>

      <div class="flex flex-col items-center mt-10">
        <img
          class="h-auto max-w-16 pb-6"
          src="/Chipspose.svg"
          alt="Plastikpose"
        />
        <h5 class="">6. Andre plastikposer</h5>
        <p class="text-3xl">746,211</p>
      </div>

      <div class="flex flex-col items-center -top-4">
        <img class="h-auto max-w-16 pb-6" src="/Sugerør.svg" alt="Sugerør" />
        <h5 class="">7. Sugerør</h5>
        <p class="text-3xl">643,562</p>
      </div>

      <div class="flex flex-col items-center mt-16">
        <img
          class="h-auto max-w-16 pb-6"
          src="/BeholdeTA.svg"
          alt="TABeholder"
        />
        <h5 class="">8. Plastik take away beholder</h5>
        <p class="text-3xl">632,874</p>
      </div>

      <div class="flex flex-col items-center mt-16">
        <img class="h-auto max-w-16 pb-6" src="/Lids.svg" alt="Låg" />
        <h5 class="">9. Plastiklåg</h5>
        <p class="text-3xl">624,878</p>
      </div>

      <div class="flex flex-col items-center mt-10">
        <img class="h-auto max-w-16 pb-6" src="/TakeAway.svg" alt="TakeAway" />
        <h5 class="">10. Skum take away beholdere</h5>
        <p class="text-3xl">580,570</p>
      </div>
    </div>
  </div>
</section>

<script>
  import { inView, animate, stagger } from "@motionone/dom";

  inView("#stagger2 .flex", () => {
    animate(
      ".staggeranimation2 .flex",
      { opacity: [0, 1] },
      {
        delay: stagger(0.3, { start: 0.1 }),
      }
    );
  });
</script>

<style>
  p,
  h2,
  h3 {
    color: white;
  }
</style>
